 * {
     box-sizing: border-box;
     margin: 0;
     background-color: #E5E5E5;
     /* font-family: 'NotesSans'; */
     margin: 0;
 }

 @font-face {
     font-family: 'Procreate';
     src: url(assets/fonts/procreate_2/Procreate.ttf);
     font-weight: bold;
 }

 .logo {
     margin: 30px 0 20px 30px;
 }

 .titulo {
     font-family: Procreate;
     padding: 30px 0;
     text-align: center;
     font-size: 5rem;
     font-weight: bold;
     /* background: steelblue; */
 }

 section {
     width: 80%;
     height: 65vh;
     margin: 0 auto;
     display: flex;
 }

 .container-entradaTexto {
     width: 50%;
     height: 69vh;
     margin: 20px;
     border: 3px solid;
     border-radius: 14px 14px 80px 14px;
     box-shadow: 0 0 50px #565555;
     background: #dfe21b;
 }

 .text-area {
     width: 80%;
     height: 35vh;
     margin: 10% 10% 0;
     padding: 18px 14px;
     font-size: 1.5em;
     border: 25px  solid #a0a0a0;
     border-radius: 24px;
     color: rgb(18, 247, 1);
     background: #000000;
 }

 ::placeholder {
     font-size: 1.5rem;
     color: aliceblue;
 }

 h5 {
     margin: 1% 20%;
     display: inline-block;
     font-size: .9em;
     background: transparent;
 }

 .container-buttons {
     width: 90%;
     height: 180px;
     border-radius: 0 20px 80px 0;
     border: 3px solid;
     border-left: none;
     background: #a0a0a0;
    }
    .botones{
        background: transparent;
    }
    .btn-encriptar,
    .btn-desencriptar{
        font-family: monospace;
        font-size: 18px;
        color: #FAFAFA;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 10px;
        border: 2px solid #FAFAFA;
        background: #252525;
        box-shadow: 3px 3px #fafafa;
        cursor: pointer;
        margin: 8% 10% 0 10%;
        /* transform: rotateZ(-0.05turn); */
    }
    .botones:active {
        box-shadow: none;
        transform: translate(3px, 3px);
    }



    .container-textoEncriptado {
        margin: 20px;
        width: 50%;
        height: 69vh;
        border: 3px solid;
        border-radius: 14px 14px 80px 14px;
       border-radius: 14px 14px 80px 14px;
        background: rgba(6, 99, 8, 0.635);
        box-shadow: 0 0 50px #565555;
    }
    .btn-copiar,
    .btn-limpiar {
        font-family: monospace;
        font-size: 18px;
        color: #FAFAFA;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 10px;
        border: 2px solid #FAFAFA;
        background: #252525;
        box-shadow: 3px 3px #fafafa;
        cursor: pointer;
        margin: 9% 0 0 10%;
        /* transform: rotateZ(-0.05turn); */
    }

 .mensaje {
     height: 35vh;
     width: 80%;
     padding: 18px 14px;
     margin: 10% 10% 1%;
     font-size: 1.5em;
     border-radius: 24px;
     border: 25px solid #a0a0a0;
     background: #000000;
     color: rgb(18, 247, 1);
     background-image: url(assets/images/Muñeco.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
 }